

.home-button {
  height: 500px;
  width: 250px;
  margin: 10px;
}

.dino-home-button {
 background-image: url(https://i.pinimg.com/originals/57/c7/87/57c787644bcb45d9922d1e019cb5cefd.jpg);
 background-size: 200%;
}

.misc-home-button {
  background-image: url(https://thumbs.dreamstime.com/t/set-fast-food-doodles-white-vector-illustration-perfect-menu-package-design-doodle-outline-foods-including-fish-meat-206800207.jpg);
  background-size:100%;
}

.hero-image-misc {
  height: 450px;
  overflow: hidden;
  margin-top: 45px; 
}

.hero-image-dino {
  height: 500px;
  overflow: hidden;
  
}

.hero-image-misc img {
  margin: -230px 0px 0px 0px;
  transform: scale();
}

.comment-textarea {
  height: 75px;
  width: 100%;
}

.comments-section {
  margin-top: 20px;
}

.comment-margin {
  margin-top: 20px;
}

@import '~bulma/bulma.sass'

